<template lang="pug">
  .product
    template(v-if="item")
      .product__gallery
        Gallery(
          ref="gallery"
          :query="imageQuery"
        )
      .container.product__container
        .product__slug
          span MOD
            br
            | 0{{ getItemIndexById(id) + 1}}
            span.total  / {{ totlaItems }}
        .product__data
          .product__info
            h1.product__title {{ item.title }}
            .product__mini-slug
              span MOD 0{{ getItemIndexById(id) + 1}}
              span.total  / {{ totlaItems }}
            p.product__description(
              v-html="item.description"
            )
          .product__options
            .options
              .options__row(v-show="item.modelOptions")
                ul.options__list
                  li.options__item(v-for="option in item.modelOptions")
                    TextSelector(
                      :label="option.label"
                      :value="{id: option.id}"
                      :isActive="option.id === item.pickedModel"
                      v-on:click="onClickModel"
                      :tooltip="option.description"
                    )
                .options__label Модель
              .options__row(v-show="item.sizeOptions")
                ul.options__list
                  li.options__item(v-for="option in item.sizeOptions")
                    TextSelector(
                      :label="option.label"
                      :isActive="option.label === item.pickedSize"
                      :value="{ id: option.label }"
                      v-on:click="onClickSize"
                    )
                .options__label Размер
              .options__group
                .options__row(v-show="item.printOptions")
                  ul.options__list
                    li.options__item(v-for="option in item.printOptions")
                      ColorSelector(
                        label="#000000"
                        :value="{id: option.id}"
                        :isActive="option.id === item.pickedPrint"
                        v-on:click="onClickPrint(option)"
                        :tooltip="option.description"
                      )
                  .options__label Принт
                .options__row(v-show="item.colorOptions")
                  ul.options__list
                    li.options__item(v-for="option in item.colorOptions")
                      ColorSelector(
                        :label="option.hex"
                        :value="{id: option.id}"
                        :isActive="option.id === item.pickedColor"
                        v-on:click="onClickColor"
                        :tooltip="option.label"
                      )
                  .options__label Цвет
          .product__actions
            button.button.cta(
              v-on:click="onClickDesire(true)"
            ) Хочу!
            button.button.button--hidden(
              v-on:click="onClickDesire(false)"
              v-if="item.id !== 'shopper'"
            ) Нет, спасибо
    template(v-else)
      h1 Нет такой страницы (
</template>

<script>
import { mapActions } from 'vuex';
import merch from '@/mixins/merch.mixin';
import Selector from '@/components/ui/Selector/Selector.vue';
import ColorSelector from '@/components/ui/Selector/ColorSelector.vue';
import TextSelector from '@/components/ui/Selector/TextSelector.vue';
import Gallery from '@/components/ui/Gallery/Gallery.vue';

export default {
  mixins: [
    merch,
  ],

  props: {
    id: {
      required: true,
      type: String,
    },
  },

  data() {
    return {
      item: false,
      galleryKey: false,
    };
  },

  computed: {
    merchItem() {
      return this.$store.getters.getMerchItemById(this.id);
    },

    imageQuery() {
      const color = this.merchItem.pickedColor !== undefined ? `color-${this.merchItem.pickedColor}_` : '';
      const print = this.merchItem.pickedPrint !== undefined ? `print-${this.merchItem.pickedPrint}_` : '';
      const query = [];
      this.item.galleryKeys.forEach((key) => {
        query.push({
          key,
          path: `${this.item.id}/${color}${print}${key}`,
        });
      });
      return query;
    },
  },

  methods: {
    ...mapActions([
      'pickSizeForItem',
      'pickPrintForItem',
      'pickColorForItem',
      'pickModelForItem',
    ]),

    onClickSize(value) {
      if (this.item.sizeOptions.find((item) => item.label === value.id)) {
        this.pickSizeForItem({
          itemId: this.item.id,
          size: value.id,
        });
      }
    },

    getThumbUrl(key) {
      const images = require.context('@/assets/images/merch/', true, /\.png$/);
      return images(`./${this.item.id}/${key}-thumb.png`);
    },

    onClickPrint(value) {
      if (this.item.printOptions.find((item) => item.id === value.id)) {
        this.pickPrintForItem({
          itemId: this.item.id,
          print: value.id,
        });
        if (value.bindToKey !== undefined) {
          this.$refs.gallery.navigateToSlide(value.bindToKey);
        }
      }
    },

    onClickColor(value) {
      if (this.item.colorOptions.find((item) => item.id === value.id)) {
        this.pickColorForItem({
          itemId: this.item.id,
          colorId: value.id,
        });
      }
    },

    onClickModel(value) {
      if (this.item.modelOptions.find((item) => item.id === value.id)) {
        this.pickModelForItem({
          itemId: this.item.id,
          modelId: value.id,
        });
      }
    },

    onClickDesire(flag) {
      this.$store.dispatch('setMerchItemDesire', {
        item: this.item,
        desire: flag,
      });
      this.$store.commit('setMerchItemDesire', {
        item: this.item,
        desire: flag,
      });
      this.$router.push({ name: 'merch-showcase' });
    },
  },

  mounted() {
    this.item = this.$store.getters.getMerchItemById(this.id);
    [this.galleryKey] = this.item.galleryKeys;
  },

  components: {
    Selector,
    ColorSelector,
    TextSelector,
    Gallery,
  },
};
</script>

<style lang="scss">
@import '~@/assets/scss/core.scss';

.product {
  background-color: _palette(bg, lightgrey);

  &__gallery {
    position: absolute;
    width: 70vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;

    @include respond-to('small') {
      position: relative;
      width: 100%;
      height: 70vh;
    }
  }

  &__slug {
    position: absolute;
    top: _offset(16);
    left: _offset(3);
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: $x-large-font-size;
    line-height: 90%;

    .total {
      // color: _palette(grey, 500);
      -webkit-text-fill-color: _palette(bg, lightgrey);
      -webkit-text-stroke: 1px _palette(grey, 900);
    }

    @include respond-to('small') {
      display: none;
    }
  }

  &__mini-slug {
    display: none;
    font-size: 10px;
    margin-bottom: _offset(2);

    .total {
      color: _palette(grey, 500);
    }

    @include respond-to('small') {
      display: block;
    }
  }

  &__container {
    display: flex;
    justify-content: flex-end;
    min-height: 100vh;

    @include respond-to('small') {
      background-color: _palette(grey, 50);
      min-height: auto;
    }
  }

  &__data {
    margin-top: _offset(16);
    margin-right: 0;
    text-align: right;
    display: flex;
    flex-direction: column;

    @include respond-to('small') {
      margin-top: _offset(4);
      text-align: left;
      width: 100%;
    }
  }

  &__title {
    font-weight: bold;
    line-height: _offset(2);
    margin: 0 0 _offset(2) 0;
    font-size: 14px;

    @include respond-to('small') {
      font-size: 22px;
       margin: 0 0 _offset(0.5) 0;
    }
  }

  &__title,
  &__description {
    line-height: 18px;
    opacity: .99;
  }

  &__description {
    font-size: 14px;
    color: _palette(grey, 900);
    max-width: 420px;
    hyphens: auto;
    float: right;
    padding: 0;
    margin: 0;

    @include respond-to('small') {
      max-width: none;
      width: 100%;
    }
  }

  &__options {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include respond-to('small') {
      height: auto;
      justify-content: flex-start;
      margin: _offset(4) 0;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.options {
  width: 100%;

  &__row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: _offset(5);

    @include respond-to('small') {
      margin-bottom: _offset(2);
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__group {
    display: flex;
    justify-content: flex-end;

    .options__row {
      margin-right: _offset(8);

      &:last-of-type {
        margin-right: _offset(0);
      }
    }

    @include respond-to('small') {
      display: block;
      .options__row {
        margin-right: 0;
      }
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;

    @include respond-to('small') {
      flex-wrap: wrap;
      order: 1;
    }
  }

  &__item {
    margin-right: _offset(6);

    &:last-of-type {
      margin-right: 0;
    }

    @include respond-to('small') {
      margin-right: _offset(3.5);
    }
  }

  &__label {
    display: block;
    width: 80px;
    font-size: 10px;
    line-height: _offset(2);
    text-align: right;
    color: _palette(grey, 600);
    opacity: .99;

    @include respond-to('small') {
      width: 100%;
      text-align: center;
      order: 0;
      margin-bottom: _offset(1);
    }
  }
}

.product__actions {
  margin-bottom: _offset(4);

  .button {
    font-size: 32px;
    line-height: 48px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      border-bottom: 1px solid _palette(grey, 900);
    }

    &.cta {
      background-color: _palette(accent, green);
    }
  }

  @include respond-to('small') {
    justify-content: center;

    .button {
      font-size: 22px;
      margin: 0 _offset(1.2);
    }
  }
}
</style>
