<template lang="pug">
.gallery(
  v-on:keydown="keylog"
)
  .gallery__arrows
    .gallery__arrow-up
      .gallery__arrow-wrapper(
        v-on:click="prevSlide"
      )
        .gallery__arrow
    .gallery__arrow-down
      .gallery__arrow-wrapper(
        v-on:click="nextSlide"
      )
        .gallery__arrow
  .gallery__spinner
    Spinner
  .swiper-container(ref="swiper")
    .swiper-wrapper
      .swiper-slide(
        v-for="image in images"
      )
        ImageLoader.gallery__image(:src="image.url")
</div>
</template>

<script>
// import Swiper JS
import Vue from 'vue';
import Swiper from 'swiper';
import ImageLoader from '@/components/ui/ImageLoader/ImageLoader.vue';
import Spinner from '@/components/ui/Spinner/Spinner.vue';

export default {
  props: {
    query: {
      required: true,
      type: Array,
    },
  },

  data() {
    return {
      swiper: null,
      keyListener: null,
      wheelListener: null,
    };
  },

  computed: {
    images() {
      const images = require.context('@/assets/images/merch/', true, /\.jpg$/);
      const imagesArray = [];
      this.query.forEach((queryItem) => {
        imagesArray.push({
          url: images(`./${queryItem.path}.jpg`),
        });
      });
      return imagesArray;
    },
  },

  watch: {
    query() {
      if (this.swiper) {
        Vue.nextTick(() => {
          // this.swiper.destroy();
          // console.log('update');
          // this.initSwiper();
        });
      }
    },
  },

  methods: {
    nextSlide() {
      this.swiper.slideNext();
    },

    prevSlide() {
      this.swiper.slidePrev();
    },

    navigateToSlide(key) {
      const slideIndex = this.query.findIndex((item) => item.key === key);
      if (slideIndex !== -1) {
        this.swiper.slideTo(slideIndex);
      }
    },

    initSwiper() {
      this.swiper = new Swiper('.swiper-container', {
        // Optional parameters
        direction: 'vertical',
        loop: false,
        mousewheel: true,
      });
    },

    keylog(e) {
      switch (e.keyCode) {
        default: break;
        case 38: this.prevSlide(); break;
        case 40: this.nextSlide(); break;
      }
    },
  },

  mounted() {
    this.initSwiper();
    this.keyListener = window.addEventListener('keydown', (event) => {
      this.keylog(event);
    });
    this.wheelListener = this.$refs.swiper.addEventListener('wheel', (event) => {
      if (event.deltaY < 0) {
        this.prevSlide();
      } else {
        this.nextSlide();
      }
      event.preventDefault();
    });
  },

  beforeDestroy() {
    window.removeEventListener('keydown', this.keyListener);
    this.$refs.swiper.removeEventListener('wheel', this.keyListener);
  },

  components: {
    ImageLoader,
    Spinner,
  },
};
</script>

<style lang="scss">
@import '~@/assets/scss/core.scss';

.gallery {
  width: 100%;
  height: 100%;
  position: relative;

  &__image {
    height: 100%;
    width: 100%;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      display: block;
    }
    transition: opacity 300ms ease-in-out;
  }

  &__spinner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__arrows {
    position: absolute;
    bottom: _offset(4);
    left: _offset(2);
    z-index: 2;

    @include respond-to('small') {
      bottom: auto;
      left: auto;
      right: _offset(1);
      top: _offset(3);
    }
  }

  &__arrow-wrapper {
    cursor: pointer;
    padding: 0 _offset(3);
  }

  &__arrow {
    position: relative;
    background-color: _palette(grey, 900);
    display: block;
    width: 1px;
    position: relative;
    height: _offset(15);

    @include respond-to('small') {
      height: _offset(5);
    }

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: _offset(2);
      height: 1px;
      background-color: _palette(grey, 900);

      @include respond-to('small') {
        width: _offset(1.5);
      }
    }

    &::before {
      left: 0;
      transform-origin: bottom left;
      transform: rotate(40deg);
    }

    &::after {
      right: 0;
      transform-origin: top right;
      transform: rotate(-40deg);
    }
  }

  &__arrow-up,
  &__arrow-down {
    transition: all 30ms ease-in-out;
  }

  &__arrow-up {
    margin-bottom: _offset(4);
    &:hover {
      transform: translateY(-10px);
      margin-bottom: _offset(4);
    }
    @include respond-to('small') {
      margin-bottom: _offset(1);
      &:hover {
        transform: none;
        margin-bottom: _offset(1);
      }
    }
  }

  &__arrow-down {
    .gallery__arrow {
      transform: rotate(180deg);
    }

    &:hover {
      transform: translateY(10px);
      @include respond-to('small') {
        &:hover {
          transform: translateY(0px);
        }
      }
    }
  }
}

.swiper-container {
  height: 100%;
}

.swiper-slide {
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
</style>
