<template lang="pug">
  .export
    h2
      template(
        v-if="departmentFilter === '' && orderItemFilter === ''"
      ) Все заказы — {{ sortedOrders.length }}
      template(v-else) Отфильтровано — {{ sortedOrders.length }}
    .export__table
      .export__order.order
        .order__user-label.order__label Пользователь
        .order__email-label.order__label Email
        .order__department-label.order__label
          | Отдел
          .order__filters
            select(v-model="departmentFilter")
              option(value="") Все
              template(v-for="department in departments")
                option(:value="department.department") {{ department.department }}
        .order__items-label.order__label Заказ
          .order__filters
            select(v-model="orderItemFilter")
              option(value="") Все
              template(v-for="orderItem in orderItems")
                option(:value="orderItem") {{ orderItem }}
            select(v-model="orderColorFilter" v-if="orderItemFilter !== ''")
              option(value="") Любой цвет
              template(v-for="orderColor in orderColors")
                option(:value="orderColor") {{ orderColor }}
      hr.export__hr--label

    // ORDERS TABLE
    template(v-for="order in sortedOrders")
      .export__order.order
        .order__user.order__field {{ order.userName }}
        .order__email.order__field {{ order.userEmail }}
        .order__department.order__field {{ order.department }}
        .order__items.order__field
          .order__items-container
            template(v-for="item in order.items")
              .order__item
                strong {{ item.title }}
                  span(v-if="item.model")  {{ item.model }}
                  br
                span Цвет: {{ item.color }}
                br
                span  Размер: {{ item.size }}
                br
                span  Принт: {{ item.print }}
      hr.export__hr
</template>

<script>
import _ from 'lodash';
import apiClient from '@/api/apiClient';

export default {
  data() {
    return {
      pending: true,
      orders: [],
      departmentFilter: '',
      orderItemFilter: '',
      orderColorFilter: '',
    };
  },

  computed: {
    sortedOrders() {
      let sortedOrders = this.orders;

      // Sort by department.
      if (this.departmentFilter !== '') {
        sortedOrders = this.orders.filter((item) => item.department === this.departmentFilter);
      }

      // Sort by item in order.
      if (this.orderItemFilter !== '') {
        sortedOrders = sortedOrders.filter(
          (order) => {
            const item = order.items.find((orderItem) => {
              if (this.orderColorFilter === '') {
                return orderItem.title === this.orderItemFilter;
              }
              return (orderItem.title === this.orderItemFilter)
                && (orderItem.color === this.orderColorFilter);
            });
            return item !== undefined;
          },
        );
      }
      return _.orderBy(sortedOrders, ['department'], ['asc']);
    },

    departments() {
      return _.uniqBy(this.orders, 'department');
    },

    orderItems() {
      return [
        'Футболка',
        'Худи',
        'Сумка-шоппер',
      ];
    },

    orderColors() {
      return [
        'Черный',
        'Off-white',
      ];
    },
  },

  methods: {
    extentUserData() {
      this.orders.forEach((item) => {
        const order = item;
        const user = this.$store.getters.getUserByEmail(order.userEmail);
        if (user) {
          order.userName = user.userName;
          order.city = user.city;
          order.department = user.department;
        } else {
          order.userName = '—';
          order.city = '—';
          order.department = '—';
        }
      });
    },
  },

  mounted() {
    console.log('loading data');
    const orderPromise = new Promise((resolve, reject) => {
      apiClient
        .get('/Order?pageSize=100&offset=0')
        .then((resp) => {
          this.orders = resp.data;
          apiClient
            .get('/Order?pageSize=100&offset=100')
            .then((respElse) => {
              const currentOrders = this.orders;
              this.orders = currentOrders.concat(respElse.data);
              this.extentUserData();
              this.pending = false;
              resolve(respElse);
            })
            .catch((err) => {
              this.errorCode = err.response.data.code;
              reject(err);
            });
          resolve(resp);
        })
        .catch((err) => {
          this.pending = false;
          this.errorCode = err.response.data.code;
          reject(err);
        });
    });
    return orderPromise;
  },
};
</script>

<style lang="scss" scoped>
.export {
  margin: 100px 100px;
  overflow: hidden;

  &__hr {
    border: none;
    border-bottom: 1px solid #cccccc;
    margin: 1.5em 0;
  }

  &__hr--label {
    border: none;
    border-bottom: 1px solid #cccccc;
    margin: 0.5em 0 1.5em 0;
  }

  &__table {
    margin-top: 4em;
  }
}

.order {
  font-size: 13px;
  display: flex;

  &__filters {
    select {
      font-size: 11px;
      margin-right: 8px;
    }
  }

  &__field, &__label {
    flex-shrink: 0;
  }

  &__label {
    font-size: 11px;
    color: darken(#cccccc, 10%);
  }

  &__user, &__user-label {
    width: 180px;
    margin-right: 24px;
  }

  &__email, &__email-label {
    width: 230px;
    margin-right: 24px;
  }

  &__department, &__department-label {
    width: 90px;
    margin-right: 24px;
  }

  &__items, &__items-label {
    flex-grow: 2;
  }

  &__items-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 32px;
    width: 40%;
    margin-bottom: 1.5em;
  }
}
</style>
