.button {
  position: relative;
  background: none;
  padding: 0;
  margin: 0 0 0 _offset(4);
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  appearance: none;
  border: 0;
  cursor: pointer;
  // font-family: _font-style(base, family);

  &:hover {
    background-color: _palette(accent, green);
  }

  &:focus {
    outline: none;
  }
}

