.vm--overlay {
  background-color: rgba(_palette(grey, 900), 0.6);
}

.modal {
  background-color: _palette(grey, 1000);

  &__content {
    color: _palette(grey, 200);
    padding: _offset(4);
  }

  &__buttons {
    margin-top: _offset(3);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}
