.tooltip {
  position: relative;

  &__item {
    -webkit-text-fill-color: _palette(grey, 900);
    -webkit-text-stroke: 0;
    position: absolute;
    min-width: 150px;
    padding: _offset(1);
    visibility: hidden;
    opacity: 0;
    background: white;
    transition: all .200s cubic-bezier(0, 0, 0.2, 1);
    color: _palette(grey, 900);
    border: 1px solid _palette(grey, 900);
    border-radius: 3px;
    font-weight: 500;
    font-family: _font-style(base, family);
    text-align: center;
    box-shadow: 0 2px 2px rgba(_palette(grey, 900), .15);
    z-index: 100;
    font-size: 13px;
    line-height: 16px;

    &::after {
      border-style: solid;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      width: 0;
    }
  }

  &__initiator {
    cursor: pointer;
    z-index: 5;
  }
  
  &[data-direction="left"] {
    .tooltip__initiator:hover ~ .tooltip__item {
      transform: translate3d(0, -50%, 0);
      visibility: visible;
      opacity: 1;
    }

    .tooltip__item {
      top: 50%;
      right: calc(100% + 1em);   
      transform: translate3d(15px, -50%, 0);

      &:after {
        top: 50%;
        right: -0.5em;
        transform: translate3d(0, -50%, 0);
        border-width: 0.4em 0 0.4em 0.4em;
        border-color: transparent transparent transparent white;
        filter: drop-shadow(1px 2px 1px #bcbcbc);
      }
    }
  }

  &[data-direction="bottom"] {
    .tooltip__initiator:hover ~ .tooltip__item {
      transform: translate3d(-50%, 0, 0);
      visibility: visible;
      opacity: 1;
    }
    
    .tooltip__item {
      top: calc(100% + 1em);
      left: 50%; 
      transform: translate3d(-50%, -15px, 0);

      &:after {
        top: -0.4em;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        border-width: 0 0.4em 0.4em 0.4em;
        border-color: transparent transparent white transparent;
        filter: drop-shadow(0px -1px 0px #000000);
      }
    }
  }
}
