<template lang="pug">
  .merch
    .container
      Distort.merch__cover(
        :src="sprite"
        :filterScale="{ x: 100, y: 250}"
        :distortion="true"
      )
      .merch__introtext
        p
          | Мерч — это официальная продукция компании, а ещё это признание твоей ценности.
          |  Он может быть формальным, со стандартным пакетом
          span.accent  «неизвестных»,
          |  ручек, блокнотов и всего того, что можно купить в канцелярском магазине на углу.
          |  А может быть нужным, для этого мы даём тебе выбор.
          br
          br
          span.accent Мерч CENTRA
          |  — это не унылый бюрократический набор, а практичные вещи хорошего качества.
          |  Вещи, которые не полиняют от первой стирки, и не выгорят от единственной
          |  прогулки на солнце. В 2020 в твоём мерч-наборе нет неизвестных:
          span.accent  ты выбираешь
          |  только то, что нравится и кастомизируешь это на свой вкус —
          |  выбираешь размер, цвет и принт.

        button(v-on:click="onClickProceed")
          | Дальше
          span.arrow →
</template>

<script>
import Distort from '@/components/pixi/Distort/Distort.vue';

const mainImage = require('@/assets/images/tshirt-closeup-green2.jpeg');

export default {
  data() {
    return {
      sprite: mainImage,
    };
  },

  methods: {
    onClickProceed() {
      this.$router.push({ name: 'merch-showcase' });
    },
  },

  components: {
    Distort,
  },
};
</script>

<style lang="scss">
@import '~@/assets/scss/core.scss';

.merch {
  &__cover {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
  }

  &__introtext {
    font-size: 4vw;
    line-height: 1.3;
    width: 100%;
    margin: _offset(4) 0 _offset(8);

    .accent {
      color: _palette(grey, 50);
    }

    p {
      margin: 0;
      width: 100%;
      max-width: 70vw;
      text-align: center;
      margin: 0 auto;
      color: _palette(grey, 600);
    }

    button {
      margin: 0 auto;
      display: block;
      text-align: center;
      border: none;
      background-color: transparent;
      margin-top: _offset(8);
      cursor: pointer;
      color: _palette(grey, 50);
      display: flex;

      &:hover {
        color: _palette(grey, 300);

        .arrow {
          transform: translateX(15px);
          animation: none;
        }
      }

      .arrow {
        margin-left: _offset(1);
        animation: 2s linear 0s infinite alternate move;
        animation-timing-function: ease-in-out;
        display: block;
      }

      &:focus {
        outline: none;
        border: 0;
        appearance: none;
      }
    }

    @include respond-to('small') {
      font-size: 8vw;

      p {
        max-width: 100%;
      }
    }
  }
}

@keyframes move
{
  0%   {transform: translateX(0px);}
  50%  {transform: translateX(10px);}
  100% {transform: translateX(0px);}
}
</style>
