<template lang="pug">
  .page
    .content HI
      .container
    .page__sidebar
</template>

<script>
export default {
};
</script>

<style lang="scss">
@import '~@/assets/scss/core.scss';
</style>
