<template lang="pug">
  .distort(
    ref="container"
    v-bind:class="{loaded: isLoaded}"
  )
</template>

<script>
import * as PIXI from 'pixi.js';

const filterImage = require('@/assets/images/filters/displacement_map_repeat.jpg');

export default {
  props: {
    src: {
      required: true,
      type: String,
    },
    distortion: {
      required: false,
      type: Boolean,
      default: () => false,
    },
    filterScale: {
      required: false,
      type: Object,
      default: () => ({
        x: 200,
        y: 400,
      }),
    },
  },

  data() {
    return {
      app: null,
      container: null,
      isLoaded: false,
      sprite: null,
      pixelRatio: 1,
      updateTimeout: null,
      timeoutDuration: 300,
      resizeListener: null,
    };
  },

  methods: {
    initStage() {
      this.app = new PIXI.Application({
        transparent: true,
        resizeTo: this.$refs.container,
        antialias: false,
        resolution: 1,
        forceCanvas: true,
      });
      this.$refs.container.appendChild(this.app.view);
      this.app.stage.interactive = true;
      this.container = new PIXI.Container();
      this.app.stage.addChild(this.container);
    },

    initDistortion() {
      const displacementSprite = PIXI.Sprite.from(filterImage);
      // Make sure the sprite is wrapping.
      displacementSprite.texture.baseTexture.wrapMode = PIXI.WRAP_MODES.REPEAT;
      const displacementFilter = new PIXI.filters.DisplacementFilter(displacementSprite);
      displacementFilter.padding = 0;

      displacementSprite.position = this.sprite.position;
      this.app.stage.addChild(displacementSprite);
      this.sprite.filters = [displacementFilter];

      displacementFilter.scale.x = this.filterScale.x;
      displacementFilter.scale.y = this.filterScale.y;

      this.app.ticker.add(() => {
        /* Offset the sprite position to make vFilterCoord update to larger value.
          Repeat wrapping makes sure there's still pixels on the coordinates.
        */
        displacementSprite.x += 0.7;
        // Reset x to 0 when it's over width to keep values from going to very huge numbers.
        if (displacementSprite.x > displacementSprite.width) { displacementSprite.x = 0; }
      });
    },

    start(sprite) {
      this.sprite = sprite;
      this.resizeSprite();
      this.centerSprite();
      this.container.addChild(sprite);
      if (this.distortion) {
        this.initDistortion();
      }
    },

    resizeSprite() {
      const screenRatio = this.app.screen.width / this.app.screen.height;
      const spriteRatio = this.sprite.width / this.sprite.height;

      // Resize to cover canvas
      if (screenRatio >= spriteRatio) {
        this.sprite.width = this.app.screen.width / this.pixelRatio;
        this.sprite.height = (this.app.screen.width / spriteRatio) / this.pixelRatio;
      } else {
        this.sprite.height = this.app.screen.height / this.pixelRatio;
        this.sprite.width = (this.app.screen.height * spriteRatio) / this.pixelRatio;
      }
    },

    centerSprite() {
      // Position to center of canvas
      this.sprite.x = (this.app.screen.width - this.sprite.width) / 2;
      this.sprite.y = (this.app.screen.height - this.sprite.height) / 2;
    },

    onResize() {
      window.clearTimeout(this.updateTimeout);
      this.updateTimeout = window.setTimeout(() => {
        this.resizeSprite();
        this.centerSprite();
      }, this.timeoutDuration);
    },

    watchWindowResize() {
      window.addEventListener('resize', this.onResize);
    },
  },

  mounted() {
    this.initStage();
    const spriteName = `sprite${this.src}`;

    // Search for sprite in Texture Cash
    if (spriteName in PIXI.utils.BaseTextureCache) {
      const texture = new PIXI.Texture(PIXI.utils.BaseTextureCache[spriteName]);
      this.start(new PIXI.Sprite(texture));
      this.isLoaded = true;
    } else {
      const loader = new PIXI.Loader();
      loader.onComplete.add(() => {
        this.isLoaded = true;
      });
      loader.add(spriteName, this.src);
      loader.load((ldr, resources) => {
        this.start(new PIXI.Sprite(resources[spriteName].texture));
      });
    }

    this.watchWindowResize();
  },

  beforeDestroy() {
    // Clear canvas
    this.$refs.container.removeChild(this.app.view);
    this.app.destroy(true, {
      children: true,
      texture: true,
      baseTexture: true,
    });
    this.app = null;
    this.container = null;

    // Remove resize listener
    window.removeEventListener('resize', this.onResize, false);
  },
};
</script>

<style lang="scss" scoped>
.distort {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  pointer-events: none;

  &.loaded {
    opacity: 1;
  }
}
</style>
