<template lang="pug">
  .image-loader
    img(
      v-bind:class="{isLoaded: loaded}"
      v-bind:src="imgSrc"
      @load="onLoadImage"
    )
</template>

<script>
export default {
  props: {
    src: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      loaded: false,
      imgSrc: null,
      timeout: null,
      delay: 150,
    };
  },

  watch: {
    src(newSrc) {
      this.loaded = false;
      window.clearTimeout(this.timeout);
      this.timeout = window.setTimeout(() => {
        this.imgSrc = newSrc;
      }, this.delay);
    },
  },

  methods: {
    onLoadImage() {
      this.loaded = true;
    },
  },

  mounted() {
    this.imgSrc = this.src;
  },
};
</script>

<style lang="scss">
.image-loader {
  img {
    opacity: 0;
    transition: opacity 150ms ease-in-out;

    &.isLoaded {
      opacity: 1;
    }
  }
}
</style>
