<template lang="pug">
  .showcase(ref="container")
    OrderModal(ref="orderModal")
    WarningModal(ref="warningModal")
    .showcase__actions
      template(v-if="totalDesiredItems === maxAllowedItems")
        span.showcase__order-button(
          v-on:click="openOrderModal"
        ) Заказать мерч
      template(v-else)
        span Выбрано:&nbsp;
        span.showcase__counter
          span {{ totalDesiredItems }}
          span.showcase__counter-divider /
          span {{ maxAllowedItems }}
    ul.showcase__items
      li.showcase__item.merch-item(v-for="(item, index) in items")
        router-link.showcase__item-link.merch-item__link(
          :to="{ name: 'product', params: { id: item.id }}"
        )
          .merch-item__like-state(v-show="item.desire === null")
            .merch-item__summary
              .merch-item__module MOD 0{{ index + 1 }}
              p {{ item.title | escapeHtml }}
          .merch-item__like-state(v-show="item.desire !== null")
            .merch-item__summary(v-show="item.desire")
              .merch-item__module MOD 0{{ index + 1 }}
              p {{ item.title | escapeHtml }}
                template(v-if="item.pickedModel !== undefined")
                  br
                  | Модель: {{ getMerchModelById(item.id, item.pickedModel).label }}
                template(v-if="item.pickedSize !== undefined")
                  br
                  | Размер: {{ item.pickedSize | capitalize }}
                template(v-if="item.pickedColor !== undefined")
                  br
                  | Цвет: {{ getMerchColorById(item.id, item.pickedColor).label }}
                template(v-if="item.pickedPrint !== undefined")
                  br
                  span(v-if="getMerchPrintById(item.id, item.pickedPrint)")
                    | Принт: {{ getMerchPrintById(item.id, item.pickedPrint).description }}
            svg.merch-item__like-icon(
              fill="none"
              viewBox="0 0 597 597"
              xmlns="http://www.w3.org/2000/svg"
              v-if="item.desire"
            )
              circle(cx="298.5" cy="298.5" r="296.5")
            svg.merch-item__dislike-icon(fill="none" viewBox="0 0 600 601" xmlns="http://www.w3.org/2000/svg" v-else)
              path(d="m598 2-596 597")
              path(d="m598 599-596-597")
          .merch-item__thumb
            template(v-if="item.distortion !== false")
              Distort.merch-item__thumb-image(
                :src="imageUrl(item.id + '/nav-thumb')"
                :filterScale="{ x: 40, y: 80}"
                :distortion="item.distortion !== false"
              )
            template(v-else)
              img.merch-item__thumb-image(
                :src="imageUrl(item.id + '/nav-thumb')"
              )
</template>

<script>
import { mapState } from 'vuex';
import OrderModal from '@/components/modals/OrderModal/OrderModal.vue';
import WarningModal from '@/components/modals/WarningModal/WarningModal.vue';
import Distort from '@/components/pixi/Distort/Distort.vue';

export default {
  computed: {
    ...mapState({
      items: (state) => state.merch.items,
      maxAllowedItems: (state) => state.merch.maxAllowedItems,
      notificationSeen: (state) => state.notifications.showcaseWarningSeen,
    }),

    totlaItems() {
      return this.$store.getters.getMerchItemsCount();
    },

    totalDesiredItems() {
      return this.$store.getters.getMerchDesiredItemsCount();
    },

    scrollPosition() {
      return this.$store.getters.getShowcaseScrollPosition();
    },
  },

  methods: {
    getMerchModelById(itemId, modelId) {
      return this.$store.getters.getMerchModelById(itemId, modelId);
    },

    getMerchColorById(itemId, colorId) {
      return this.$store.getters.getMerchColorById(itemId, colorId);
    },

    getMerchPrintById(itemId, printId) {
      return this.$store.getters.getMerchPrintById(itemId, printId);
    },

    imageUrl(url) {
      const images = require.context('@/assets/images/merch/', true, /\.png$/);
      return images(`./${url}.png`);
    },

    openOrderModal() {
      this.$refs.orderModal.open();
    },

    openWarningModal() {
      this.$refs.warningModal.open();
    },
  },

  filters: {
    capitalize(value) {
      if (!value) return '';
      const strVal = value.toString();
      return strVal.charAt(0).toUpperCase() + strVal.slice(1);
    },

    escapeHtml(value) {
      if (!value) return '';
      const strVal = value.toString();
      return strVal.replace(/<\/?[^>]+(>|$)/g, '');
    },
  },

  components: {
    OrderModal,
    WarningModal,
    Distort,
  },

  mounted() {
    this.$refs.container.scrollLeft = this.scrollPosition;
    if (!this.notificationSeen) {
      console.log(this.notificationSeen);
      this.openWarningModal();
      this.$store.commit('setShowcaseWarningSeen', true);
    }
  },

  beforeDestroy() {
    this.$store.commit('setScrollPosition', {
      windowWidth: window.innerWidth,
      x: this.$refs.container.scrollLeft,
    });
  },
};
</script>

<style lang="scss">
@import '~@/assets/scss/core.scss';

.showcase {
  background-color: _palette(grey, 900);
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__actions {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: _offset(6);
    color: _palette(grey, 600);

    @include respond-to('small') {
      margin-bottom: _offset(3);
    }
  }

  &__counter {
    margin-left: _offset(2);
  }

  &__order-button {
    cursor: pointer;
    animation: colorchange 2s linear 0s infinite;
    &:hover {
      animation: none;
      color: _palette(grey, 50);
    }
  }

  &__counter-divider {
    margin: 0 _offset(2);
    opacity: .5;
  }

  &__items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: _offset(3);

    @include respond-to('small-portrait') {
      margin-left: _offset(2);
    }
  }

  &__item {
    margin-right: _offset(3);
    overflow: hidden;
    width: 70vh;

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    @include respond-to('small-portrait') {
      width: calc(100vw - #{_offset(4)});
    }
  }
}

.merch-item {
  position: relative;

  &__module {
    font-size: 10px;
  }

  &__summary {
    position: absolute;
    top: 20%;
    left: 15%;
    color: _palette(accent, green);
    font-size: 3.7vh;
    line-height: 120%;
    max-width: 60%;
    pointer-events: none;

    p {
      margin: 0;
    }

    @include respond-to('small') {
      max-width: 80%;
      font-size: 22px;
    }
  }

  &__like-state {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;

    img,
    svg {
      display: block;
      width: calc(100%);
      height: calc(100%);
      stroke-width: 1px;
    }
  }

  &__like-icon {
    stroke: _palette(accent, green);
  }

  &__dislike-icon {
    stroke: _palette(grey, 100);
  }

  &__link {
    position: absolute;
    width: 100%;
    height: 100%;

    .merch-item__thumb {
      display: block;
      cursor: pointer;
      opacity: 0.7;
      width: 100%;
      height: 100%;
      transition: opacity .1s ease-in-out;
    }

    &:hover {
      .merch-item__thumb {
        opacity: 1;
      }
    }
  }

  &__thumb-image {
    display: block;
    width: 100%;
    height: 100%;
  }
}

@keyframes colorchange
{
  0%   {color: _palette(grey, 600);}
  50%  {color: _palette(grey, 50);}
  100% {color: _palette(grey, 600);}
}
</style>
