<template lang="pug">
  modal(
    name="order"
    :adaptive="true"
    classes="order-modal"
    height="auto"
  )
    .order-modal__spinner(v-show="pending")
      Spinner
    .order-modal__content(
      v-bind:class="{isPending: pending}"
    )
      p Все почти готово. Укажи корпоративный имейл и&nbsp;скоро ты получишь
        |  свой набор мерча Centra.
      ValidationObserver(v-slot="{ invalid }")
        form(@submit.prevent="sendData" autocomplete="off")
          ValidationProvider(
            rules="required|email"
            v-slot="{ errors }"
          )
            input(
              v-model="email"
              name="email"
              type="text"
              placeholder="vasiliy.pupkin@msk.bcs.ru"
              v-bind:class="{isError: errors[0]}"
              autocomplete="off"
            )
            span.error
              template(v-if="errorCode === 1155") Заказ с таким email уже есть
          .order-modal__buttons
            button.button(
              type="submit"
              :disabled="invalid"
            ) Отправить
              .arrow
</template>

<script>
import { mapActions } from 'vuex';
import apiClient from '@/api/apiClient';
import Spinner from '@/components/ui/Spinner/Spinner.vue';
import {
  ValidationObserver,
  ValidationProvider,
  extend,
} from 'vee-validate';
import { required, email } from 'vee-validate/dist/rules';

extend('email', email);
extend('required', required);

export default {
  data() {
    return {
      email: null,
      pending: false,
      errorCode: false,
    };
  },

  methods: {
    ...mapActions([
      'formOrderPayload',
    ]),

    open() {
      this.$modal.show('order', {});
    },

    sendData() {
      this.pending = true;
      const payload = this.$store.getters.getMerchOrderPayload();
      payload.userEmail = this.email;
      this.errorCode = false;

      const orderPromise = new Promise((resolve, reject) => {
        apiClient
          .put('/Order', payload)
          .then((resp) => {
            this.pending = false;
            this.$router.push({ name: 'merch-end' });
            resolve(resp);
          })
          .catch((err) => {
            this.pending = false;
            this.errorCode = err.response.data.code;
            reject(err);
          });
      });
      return orderPromise;
    },
  },

  components: {
    ValidationObserver,
    ValidationProvider,
    Spinner,
  },
};
</script>

<style lang="scss">
@import '~@/assets/scss/core.scss';

.vm--modal.order-modal {
  background-color: _palette(grey, 1000);
}

.order-modal {
  background-color: _palette(grey, 1000);
  box-shadow: 0 20px 60px -2px rgba(0, 0, 0, .5);

  &__content {
    color: _palette(grey, 200);
    padding: _offset(4);

    &.isPending {
      opacity: .2;
      pointer-events: none;
    }
  }
  &__spinner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__buttons {
    margin-top: _offset(3);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    .button {
      font-size: $base-font-size;
      font-family: _font-style(base, family);
      color: _palette(grey, 500);
      margin: 0;
      line-height: $base-font-size;
      display: flex;
      align-items: center;
      transition: all 100ms ease-in-out;

      &:disabled {
        opacity: .3;
        pointer-events: none;
        cursor: not-allowed;
      }

      &:hover {
        background: none;
        color: _palette(grey, 100);

        .arrow {
          transform: translateX(5px);
          background-color: _palette(grey, 100);
          &::before,
          &::after {
            background-color: _palette(grey, 100);
          }
        }
      }

      .arrow {
        width: 64px;
        height: 1px;
        background-color: _palette(grey, 500);
        margin: 0 0 -4px _offset(2);
        position: relative;
        transition: all 100ms ease-in-out;

        &::after,
        &::before {
          display: block;
          position: absolute;
          content: '';
          right: 0;
          top: 0;
          width: 8px;
          height: 1px;
          background-color: _palette(grey, 500);
        }

        &::after {
          transform-origin: top right;
          transform: rotate(40deg);
        }

        &::before {
          transform-origin: bottom right;
          transform: rotate(-40deg);
        }
      }
    }
  }
}

.order-modal {
  input {
    width: 100%;
    border-radius: 0;
    background: transparent;
    border-bottom: 1px solid _palette(grey, 800);
    padding: _offset(3) 0;
    color: _palette(grey, 300);
    margin-bottom: _offset(2);

    &:hover {
      border-bottom: 1px solid _palette(grey, 700);
    }

    &:focus {
      border-bottom: 1px solid _palette(grey, 500);
      outline: none;
    }

    &.isError {
      border-bottom: 1px solid _palette(accent, red);
    }
  }

  .error {
    font-size: 13px;
    margin-top: -8px;
    display: block;
    line-height: 8px;
    color: _palette(accent, red);
  }
}
</style>
