<template lang="pug">
.selector.color-selector.tooltip(
  @click="onClick"
  v-bind:class="{ active: isActive }"
  data-direction="bottom"
)
  .color-selector__hitzone.tooltip__initiator
    .color-selector__spot(
      v-bind:style="{ backgroundColor: label }"
      v-bind:class="{ white: label === '#ffffff' }"
    )
  .tooltip__item(v-show="tooltip !== ''") {{ tooltip }}
</template>

<script>
import selector from '@/mixins/selector.mixin';

export default {
  mixins: [
    selector,
  ],
};
</script>

<style lang="scss" scoped>
@import '~@/assets/scss/core.scss';

.color-selector {
  border: 1px solid transparent;
  position: relative;
  width: auto;
  height: auto;

  &__hitzone {
    width: _offset(5);
    height: _offset(5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__spot {
    width: _offset(2);
    height: _offset(2);
    border-radius: 100%;
  }

  &.active {
    background: none;
    border: 1px solid _palette(grey, 900);
  }

  .white {
    border: 1px solid _palette(grey, 900);
  }
}
</style>
