<template lang="pug">
.selector(
  @click="onClick"
  v-bind:class="{ active: isActive }"
)
  span.selector__option {{ label }}
</template>

<script>
import selector from '@/mixins/selector.mixin';

export default {
  mixins: [
    selector,
  ],
};
</script>

<style lang="scss">
@import '~@/assets/scss/core.scss';

.selector {
  width: _offset(6);
  height: _offset(6);
  border-radius: 100%;
  border: 1px solid _palette(grey, 400);
  text-align: center;
  line-height: _offset(5);
  cursor: pointer;
  user-select: none;
  transition: all 200ms ease-in-out;

  &:hover {
    border: 1px solid _palette(grey, 800);
  }

  &.active {
    background-color: _palette(grey, 900);
    border: 1px solid _palette(grey, 900);
    color: _palette(grey, 100);
  }

  &__option {
    font-size: $x-small-font-size;
    text-transform: uppercase;
  }
}
</style>
