<template lang="pug">
.text-selector.tooltip(
  @click="onClick"
  v-bind:class="{ active: isActive }"
  data-direction="bottom"
)
  span.text-selector__option.tooltip__initiator {{ label }}
  .tooltip__item(v-show="tooltip !== ''") {{ tooltip }}
</template>

<script>
import selector from '@/mixins/selector.mixin';

export default {
  mixins: [
    selector,
  ],
};
</script>

<style lang="scss">
@import '~@/assets/scss/core.scss';

.text-selector {
  position: relative;
  color: _palette(grey, 900);
  -webkit-text-fill-color: _palette(bg, lightgrey);
  -webkit-text-stroke: 1px _palette(grey, 900);
  cursor: pointer;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: $x-large-font-size;
  line-height: 105%;
  user-select: none;
  color: _palette(grey, 900);
  @include respond-to('small') {
    -webkit-text-fill-color: _palette(grey, 900);
    -webkit-text-stroke: 0px transparent;
  }

  &.active {
    -webkit-text-fill-color: _palette(grey, 900);
    -webkit-text-stroke: .5px _palette(bg, lightgrey);
    @include respond-to('small') {
      -webkit-text-stroke: 0px transparent;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: calc(100% + #{_offset(6)});
      height: 100%;
      top: -2px;
      left: -1 * _offset(3);
      border: 1px solid _palette(grey, 900);
      border-radius: 100%;
      box-shadow: inset 0 0 0 1px _palette(bg, lightgrey);

      @include respond-to('small') {
        width: calc(100% + #{_offset(2)});
        left: -1 * _offset(1);
        box-shadow: none;
      }
    }
  }

  &__option {
    position: relative;
    text-transform: uppercase;
  }

  @include respond-to('small') {
    font-size: 24px;
  }
}
</style>
