<template lang="pug">
  header.header(
    v-bind:class="{dark: darkMode}"
  )
    .container
      .logo
        svg(fill="none" viewBox="0 0 57 56" xmlns="http://www.w3.org/2000/svg")
          path(d=`m55.832 1.0622-0.8941-0.89406c-0.2242-0.22417-0.5908-0.22417-0.8149
            0l-23.095 23.095c-0.6699 0.6699-1.8172
            0.1952-1.8172-0.7516v-14.06c0-0.31912-0.2584-0.57758-0.5775-0.57758h-1.266c-0.3191
            0-0.5775 0.25846-0.5775 0.57758v14.06c0 0.9468-1.1473
            1.4215-1.8172 0.7516l-9.9401-9.9401c-0.2242-0.2242-0.5908-0.2242-0.8149
            0l-0.8941 0.8941c-0.2242 0.2241-0.2242 0.5907 0 0.8149l9.9428 9.9428c0.6699
            0.6699 0.1951 1.8171-0.7517 1.8171h-14.062c-0.31912 0-0.57758 0.2585-0.57758
            0.5776v1.2659c0 0.3191 0.25846 0.5776 0.57758 0.5776h14.06c0.9468 0 1.4215 1.1472
            0.7516 1.8171l-23.095 23.093c-0.22417 0.2241-0.22417 0.5907 0 0.8149l0.89406
            0.8941c0.22417 0.2241 0.59076 0.2241 0.81494 0l23.095-23.095c0.6699-0.6699
            1.8172-0.1952 1.8172 0.7516v14.06c0 0.3191 0.2584 0.5776 0.5775 0.5776h1.266c0.3191
            0 0.5775-0.2585 0.5775-0.5776v-14.06c0-0.9468 1.1473-1.4215 1.8172-0.7516l9.9427
            9.9427c0.2242 0.2242 0.5908 0.2242 0.815 0l0.894-0.894c0.2242-0.2242 0.2242-0.5908
            0-0.815l-9.9427-9.9427c-0.6699-0.6699-0.1952-1.8172 0.7516-1.8172h14.062c0.3191
            0 0.5776-0.2584
            0.5776-0.5775v-1.266c0-0.3191-0.2585-0.5775-0.5776-0.5775h-14.062c-0.9468
            0-1.4215-1.1473-0.7516-1.8172l23.095-23.095c0.2268-0.22418 0.2268-0.58813 0-0.81494z`
          )
</template>

<script>
import darkmode from '@/mixins/darkmode.mixin';

export default {
  mixins: [
    darkmode,
  ],
};
</script>

<style lang="scss">
@import '~@/assets/scss/core.scss';

header {
  position: fixed;
  left: 0;
  top: _offset(3);
  z-index: 100;

  @include respond-to('small') {
    top: _offset(2);
  }
}

.logo {
  svg {
    fill: _palette(grey, 900);
    width: _offset(7);
    height: _offset(7);
    transition: fill 300ms ease-in-out;
  }
}

.dark {
  .logo svg {
    fill: _palette(grey, 300);
  }
}
</style>
