<template lang="pug">
  #app(
    v-bind:class="{dark: darkMode}"
  )
    Header
    vue-page-transition(name="fade")
      router-view
</template>

<script>
import Header from '@/components/ui/Header/Header.vue';

export default {
  computed: {
    darkMode() {
      return this.$route.meta.darkMode;
    },
  },
  components: {
    Header,
  },
};
</script>

<style lang="scss">
@import '~@/assets/scss/core.scss';

#app {
  height: 100%;

  &.dark {
    background-color: _palette(grey, 900);
  }
}
</style>
