<template lang="pug">
  .merch.theend
    .container
      .merch__introtext
        p Спасибо за твой выбор.
          br
          | Мы получили твой заказ:
          br
          template(v-for="(item, index) in order.items")
            img.theend__preview(:src="imageQuery(item)")
            |  {{ item.title }} (
            span(v-if="item.model") модель
              span.accent  {{ item.model }},
              | {{ space }}
            span(v-if="item.size") размер
              span.accent  {{ item.size }},
              | {{ space }}
            span(v-if="item.color") цвет
              span.accent  {{ item.color }},
              | {{ space }}
            span(v-if="item.print") принт
              span.accent  {{ item.print }}
            template(v-if="index !== order.items.length - 1")
              | ), {{ space }}
            template(v-else)
              | ).
</template>

<script>

export default {
  data() {
    return {
      space: ' ',
      images: require.context('@/assets/images/merch/', true, /\.png$/),
    };
  },

  computed: {
    order() {
      return this.$store.getters.getMerchOrderPayload();
    },
  },

  methods: {
    imageQuery(item) {
      return this.images(`./${item.id}/nav-thumb.png`);
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~@/assets/scss/core.scss';
.theend {
  .accent {
    -webkit-text-fill-color: _palette(bg, white);
    -webkit-text-stroke: 1px _palette(grey, 900);
  }

  &__preview {
    height: 60px;
    display: inline-block;
    margin-bottom: -10px;
  }
}
</style>
