// Color Palettes

$palette: (
  grey: (
    50: #FFFFFF,
    100: #FAFAFA,
    200: #ECEDEE,
    300: #E2E3E4,
    400: #D2D4D5,
    500: #B3B5B7,
    600: #737577,
    700: #4D4F51,
    800: #393B3C,
    900: #141414,
    1000: #000000,
  ),

  accent: (
    green: #aaf683,
    red: #fc3153,
  ),

  bg: (
    lightgrey: #EBEBEB,
  )
);
