$font: (
  base: (
    family: (
      'Styrene A Web',
      sans-serif,
    ),
    weight: 400,
    weight-bold: 600,
    text-transform: inherit,
  ),
  heading: (
    family: (
      'Styrene A Web',
      sans-serif,
    ),
    weight: 600,
    text-transform: inherit,
  ),
  subheading: (
    family: (
      'Styrene A Web',
      sans-serif,
    ),
    weight: 700,
    text-transform: inherit,
  ),
  decorative: (
    family: (
      Arial,
      Helvetica,
      sans-serif,
    ),
    weight: normal,
    weight-bold: bold,
    text-transform: inherit,
  ),
  iconic: (
    family: 'icomoon',
    style: normal,
    weight: normal,
  ),
  mono: (
    family: (
      'Courier New',
      monospace,
    ),
    weight: normal,
    weight-bold: bold,
    text-transform: inherit,
  ),
);
