// Colors
@import 'colors';
@import 'fonts';
@import 'breakpoints';

$base-font-size: 20px;
$large-font-size: 28px;
$x-large-font-size: 52px;
$small-font-size: 14px;
$x-small-font-size: 12px;
$base-line-height: 28px;
